<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	<!--  properties file 설정 -->
	<context:property-placeholder location="classpath:config/db.properties"/>
	<!-- SqlSessionTemplate 설정 -->
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSessionFactory" />	
	</bean>
	
	<!-- SqlSessionFactoryBean 설정 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="configLocation" value="classpath:config/SqlMapConfig.xml"/>
		<property name="mapperLocations">
			<list>
				<value>classpath:config/*Mapper.xml</value>
<!-- 				<value>classpath:config/StudentMapper.xml</value> -->
			</list>
		</property>
	</bean>

	<!-- DataSource 구현 객체인 BasicDataSource 설정 -->
	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName" value="${db.driver}"/>
		<property name="url" value="${db.url}"/>
		<property name="username" value="${db.username}"/>
		<property name="password" value="${db.password}"/>
	</bean>

	<!--  Component Scanning Settings -->
	<context:component-scan base-package="myspring.di.annot"/>

	<!--   StringPrinter 클래스를 Bean으로 등록 -->
	<bean id="strPrinter" class="myspring.di.xml.StringPrinter" />
	<!--  ConsolePrinter 클래스를 Bean으로 등록 -->
	<bean id="conPrinter" class="myspring.di.xml.ConsolePrinter"/>
	<!-- Hello 클래스를 Bean으로 등록 -->
	<!-- scope = singleton | prototype | request | session -->
	<!-- scope 속성의 default는 singleton이고 1개의 객체만 생성한다 -->
	<!-- scope 속성의 prototype은 요청할때마다 항상 새로운 객체를 생성한다. -->
	<bean id="hello" class="myspring.di.xml.Hello" scope="singleton">
		<!--  setName("스프링") -->
		<property name="name" value="스프링"/>
		<!-- setPrinter(new StringPrinter()) -->
		<property name="printer" ref="strPrinter"/>
	</bean>
	
	<!-- Hello 클래스를 Bean으로 등록 : Constructor Injection -->
	<bean id="helloC" class="myspring.di.xml.Hello">
		<constructor-arg index="0" value="생성자"/>
		<constructor-arg index="1" ref="conPrinter"/>
		<!-- setNames() -->
		<property name="names">
			<list>
				<value>자바</value>
				<value>코트린</value>
				<value>스칼라</value>
				<value>자바</value>
			</list>
		</property>
	</bean>
</beans>
